body {
    background-size: auto;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-shadow: none;
}

h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-shadow: none;
}

#home-page .row {

}

#home-section-1 {
    background-color: #0088cc;
    color: #fff;
    margin-top: -20px;
}

#home-section-2, #home-section-3, #home-section-4 {
    padding: 5em 0;
    font-size: 17px;
}

#home-section-3 {
    background-color: #0088cc;
    color: #fff;
}

#home-section-3 li {
    list-style: none;
}

#home-section-3 li:before {
    font-family: 'FontAwesome';
    content: '\f054';
    margin: 0 5px 0 -15px;
}

#home-section-5 {
    padding: 5em 0;
    background-color: #0088cc;
    color: #fff;
    margin-bottom: -60px;
}

#main-header {
    border-bottom: 2px solid #0088cc;
}

#main-header li {
    border: none;
}

#main-header li > a:hover, #main-header li > a:focus, #main-header li > a.active {
    color: #000;
}

#main-header .dropdown-menu li > a {
    font-weight: 300;
}

#main-header .dropdown-menu li > a:hover, #main-header .dropdown-menu .active > a, #main-header .dropdown-menu .active > a:hover {
    color: #fff;
}

#main-header.navbar-inverse .navbar-nav > .open > a, #main-header.navbar-inverse .navbar-nav > .open > a:hover, #main-header.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0088cc;
    color: #fff !important;
}

.main-nav .dropdown-menu {
    min-width: 250px;
}

.main-nav:before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100%;
    right: 0px;
    bottom: -4px;
    border: 1px solid #11C8FA;
}

ul.navbar-nav {
    margin-bottom: 0;
}

.footer .navbar-nav {
    float: none;
}

.navbar.navbar-inverse {
    min-height: 42px;
    background-color: #fff;
}

.navbar-brand {
    height: 42px;
}

.navbar-brand small {
    font-size: 12px;
    color: #737373;
}

a {
    color: #0469b0;
}

a:hover {
    color: #0088cc;
}

.module-section.hidden .section-count {
    color: #0088cc;
}

.nav-list .active > a, .nav-list .active > a:hover {
    background-color: #0088cc;
}

.rounded-list a:before {
    background: #0088cc;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
}

.footer {
    border-top: 2px solid #0088cc;
    position: relative;
    padding: 0;
}

.footer:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: 0px;
    right: 0px;
    bottom: 37px;
    border: 2px solid #11c8fa;
}

.footer a {
    color: #fff;
}

.footer li.button-item {
    height: 50px;
    padding-top: 15px;
}

.footer .nav > li > a:hover {
    text-decoration: underline;
}

.nav > li > a:hover {
    background: none;
}

.jumbotron {
    margin: 80px 0;
    background-color: transparent;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.home-lists li {
    font-size: 16px;
}

li.nav-header.module {
    background-color: #0088cc;
    color: #fff;
}

.well, .nav-list.well {
    border: none;
    box-shadow: none;
}

.nav-list.well {
    background-color: #F5FBFF !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #0088cc;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #0088cc;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #0088cc;
}

.well.form-search {
    background-color: transparent;
}

.breadcrumb {
    background-color: #F5FBFF;
}

.form-search > ul.nav > li.module {
    background-color: #0088cc !important;
    color: #fff !important;
}

.nav li.nav-header.module > a.guide, .form-search .well .nav-header a {
    color: #fff !important;
    text-shadow: none !important;
}

.form-search > ul.nav li.section, .rounded-list a {
    background-color: #F5FBFF !important;
}

.form-search > ul.nav li.section a.guide {
    color: #0088cc !important;
}

ul.breadcrumb li:first-child {
    background-color: #F5FBFF;
    background-image: none;
    filter: none;
    border: none;
    box-shadow: none;
    padding-right: 0;
    margin-right: 0;
}

ul.breadcrumb li:first-child:hover {
    background-color: #F5FBFF;
}

.content > h1 {
    text-shadow: none;
}

ul.methods > li > h3, ul.properties > li > h3, ul.events > li > h3 {
    background-color: #0088cc !important;
    color: #fff !important;
}

ul.methods > li, ul.properties > li, ul.events > li {
    background-color: #F5FBFF !important;
}
