<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-app: docsApp;" lang="en" ng-controller="DocsController"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Description"
        content="An in-browser data store for Angular.js.">
    <meta name="Keywords"
        content="model, schema, angular, angular.js, data, datastore, adapter, store">
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="k4PBv7ljh_CWjOj3OwgNdB3dlnD1DFUiLZjoovga2so" />
    <title ng-bind-template="angular-data: {{mainpage.partialTitle}}">angular-data</title>
    <base href="/">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

        // dynamically add base tag as well as css and javascript files.
        // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
        // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
        (function() {

            /*============ INITIALIZATION =============*/

            var path = function(name) {
                return name;
            };

            window.addTag = function (name, attributes, sync) {
                var el = document.createElement(name),
                    headEl = document.getElementsByTagName('head')[0],
                    attrName;

                for (attrName in attributes) {
                  el.setAttribute(attrName, attributes[attrName]);
                }
                sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
            };

            var outerHTML = function (node){
                // if IE, Chrome take the internal method otherwise build one
                return node.outerHTML || (
                    function(n){
                        var div = document.createElement('div'), h;
                        div.appendChild(n);
                        h = div.innerHTML;
                        div = null;
                        return h;
                    })(node);
            };

            var sync = true;


            addTag('script', {src: 'documentation/docular-configuration.js'}, sync);


            /*============ ADD ALL THE BASE STYLING  =============*/

            addTag('link', {rel: 'stylesheet', href: 'resources/css/styles.css', type: 'text/css'});

            /*=========== LOAD DOC API UI_RESOURCES FOR STYLING ===========*/

            addTag('link', {rel: 'stylesheet', href: 'resources/doc_api_resources/doc_api.css', type: 'text/css'});

            /*=========== BEHAVIOR/LIBRARIES ============*/

            addTag('script', {src: path('resources/js/libs.js')}, sync);

            /*=========== Highlighter ======== */

            addTag('script', {src: '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js'}, sync)
            addTag('link', {rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css', type: 'text/css'});
            //At some point this could be autocompiled.
            var languages = [
                'css',
                'scss',
                'markdown',
                'ruby',
                'java',
                'php',
                'xml',
                'sql',
                'bash'
            ];

            for(var i = 0, l = languages.length; i < l; i++) {
                var lang = languages[i];
                addTag('script', {src: '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/' + lang + '.min.js'}, sync)
            }

            addTag('script', {src: 'resources/js/scripts.js'}, sync);


        })();

        //google analytics array
        var _gaq = _gaq || [];

        // force page reload when new update is available
        window.applicationCache && window.applicationCache.addEventListener('updateready', function(e) {
            if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
                window.applicationCache.swapCache();
                window.location.reload();
            }
        }, false);

    </script>

</head>

<body>

    <header class="header" ng-include src="'resources/docular-partials/docular_partial_navigation.html'"></header>

    <div role="main" class="body" data-ng-class="{ container: mainpage.partialTitle !== 'Home' }">

        <div class="row clear-navbar"></div>

        <div class="row hide-source-container" ng-show="mode == 'show-source'" class="hide-source-container">
            <div class="col-sm-12">
                <hide-source></hide-source>
                <div ng-bind-html-unsafe="currentSourceContent"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!--[if lt IE 7]>
                <p class="alert alert-danger">Your browser is <em>ancient!</em>
                  <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
                  <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
                  experience this site.
                </p>
                <![endif]-->

                <!--[if lt IE 9]>
                <div class="alert">
                  You are using an old version of Internet Explorer.
                  For better and safer browsing experience please <a href="http://www.microsoft.com/IE9">upgrade IE</a>
                  or install <a href="http://google.com/chrome">Google Chrome browser</a>.
                </div>
                <![endif]-->
            </div>
        </div>

		<ng-view></ng-view>

    </div>

    <div id="fader" ng-show="subpage" style="display: none"></div>
        <div id="subpage" ng-show="subpage" style="display: none">
            <div>
                <h2>Would you like full offline support for this AngularJS Docs App?</h2>
                <a ng-click="subpage=false">&#10005;</a>
                <p>
                    If you want to be able to access the entire AngularJS documentation offline, click the
                    button below. This will reload the current page and trigger background downloads of all the
                    necessary files (approximately 3.5MB). The next time you load the docs, the browser will
                    use these cached files.
                    <br><br>
                    This feature is supported on all modern browsers, except for IE9 which lacks application
                    cache support.
                </p>
                <button id="cacheButton" ng-click="enableOffline()">Let me have them all!</button>
            </div>
        </div>
    </div>

    <footer class="footer" ng-include src="'resources/docular-partials/docular_partial_footer.html'"></footer>

</body>
</html>
